drivers
java
*.dll
*.exe
hardware
examples/Remote_Controller_V3/Visual Micro
*.vcxproj
examples/Upright_Rover_V3/Visual Micro/

examples/ArduinoISP/
lib/
*.filters

#Ros Stuff
examples/ros/build
examples/ros/logs
examples/ros/devel
examples/ros/.catkin_tools
