<launch>
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find balancing_robot)/rosconsole.conf"/>
  <node pkg="balancing_robot"
	type="arduino_communication"
	name="arduino_communication"
	args="0 /dev/ttyACM0 115200"
	output="screen">
  </node>

  <node pkg="rviz" type="rviz" name="rviz_robot" required="true"
	args="-d $(find balancing_robot)/rviz_config.rviz"/>
  <node pkg="balancing_robot" type="arduino_data_parsing" name="arduino_data_parsing"
	output="screen"/>
  <node pkg="balancing_robot" type="visualize.py" name="visualize"
	output="screen"/>
  <node pkg="balancing_robot" type="arduinoCommand.py" name="arduino_command"
	output="screen"/>
</launch>
